.audio-player {
    width: 100%;
    background: #0a0a0b;
    box-shadow: 0 0 20px 0 #000a;
    color: white;
    font-size: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
    position: fixed;
    z-index: 400;
}

.audio-player .container {
    width: 100%;
}

.details {
    position: relative;
    color: #fff;
    float: left;
    top: 25px;
    width: auto;
}

.details img {
    position: relative;
    display: none;
    float: left;
    margin-right: 2rem;
    width: 100px;
}

.artistName {
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    float: left;
    width: 100%;
    display: contents;
}

.audio-player-one {
    bottom: 0;
}

.audio-play-one.multi {
    bottom: 135px;
}

.audio-player-two {
    bottom: 0;
    display: none;
}

.audio-player-two.show {
    display: inherit;
}

.controls-one,
.controls-two {
    /* width: auto;
    margin: auto; */
}

.site-footer {
    display: none;
}

.audio-player .controls {
    /* left: -90px;
    justify-content: space-between;
    top: 23px;
    position: relative; */
}

.ccc_streaminfo {
    width: 100%;
    margin-left: 16px;
    font-weight: bold;
}

.play-container {
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
}

.play-container-one {
    background: #2593F9;
}

.play-container-two {
    background: #F29912;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
}

.audio-player .controls .time>* {
    padding: 2px;
}


/* HTML5 audio PLayer */

#radio-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    background: white;
    z-index: 400;
}

#radio-player audio {
    width: 90%;
    outline: none;
    border: 1px solid #e8e8e8;
    display: inline-block;
    position: relative;
    float: right;
}

.controls .label {
    color: red;
    font-size: 1.4rem;
    margin: 0px 20px 0 20px;
}

.pulsating-circle {
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    width: 15px;
    height: 15px;
    top: -9px;
    left: 4px;
}

.pulsating-circle:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #ff0000;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.cc_streaminfo-cd {
    display: none;
}

.controls progress::-moz-progress-bar {
    background-color: white;
}

.controls progress::-webkit-progress-value {
    background-color: white;
}

audio::-webkit-media-controls-panel,
video::-webkit-media-controls-panel {
    background-color: white;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {}

.audio-player {
    height: 135px;
}

.audio-player .controls .toggle-play.play {
    border: 17px solid transparent;
    border-left: 23px solid #fff;
    margin: 0;
    padding: 0;
    left: 35px;
    top: 25px;
    position: relative;
    cursor: pointer;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: -4px;
    background: white;
    content: "";
    height: 35px;
    width: 8px;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    content: "";
    height: 35px;
    width: 8px;
}

.audio-player .controls .toggle-play.pause {
    height: 58px;
    width: 20px;
    cursor: pointer;
    position: relative;
    left: 31px;
    top: 24px;
}

.audio-player .controls-one .toggle-play.play:hover {
    transform: scale(1);
    top: 26px;
}

.audio-player .controls {
    position: relative;
    float: left;
    display: block;
    top: 22px;
}

@media (min-width: 400px) {
    .details {
        position: relative;
        color: #fff;
        float: left;
        top: 13px;
    }
    .artistName {
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .artistName {
        font-size: 30px;
    }
    .details img {
        display: block;
    }
    .audio-player .container {
        width: auto;
    }
    .details {
        width: 400px;
    }
}