#schedule {
    margin: 9rem 0;
}

#schedule .entry {
    margin: 2rem 0;
}

#schedule .time,
#schedule .artist-name {
    display: inline-block;
    font-size: 20px;
}

#schedule .time {
    width: 150px;
}

@media (max-width: 850px) {
    #schedule {
        margin: 0;
    }
    #schedule .time,
    #schedule .artist-name {
        display: inline-block;
        font-size: 14px;
    }
}