{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
</header>

<p>Template page</p>

<main id="site-main" class="site-main outer error-content">
        {{#get "posts" limit="3" include="authors,tags"}}
            <div class="post-feed">
                {{#foreach posts}}
                {{> "post-card"}}
                {{/foreach}}
            </div>
        {{/get}}
    </div>
</main>